<form class="mt-14 w-full relative" (ngSubmit)="submit()">
  <div class="flex flex-col lg:flex-row justify-center items-baseline lg:space-x-5">

    <div
      *ngFor="let field of formFields"
      class="mt-4 lg:mt-0"
    >
      <p class="text-gray-400 pl-4">{{ field.label }}</p>
      <input [placeholder]="field.label"  [(ngModel)]="field.value" [name]="field.id" class="w-64 lg:w-44 xl:w-64 mt-2 py-3 rounded-md border-2 border-gray-900 focus:border-blue-600 outline-none pl-6">
    </div>

    <div class="mt-4 lg:mt-0">
      <p class="text-gray-400 pl-4 lg:pl-0">Category</p>
      <select [(ngModel)]="category" name="category" id="category" class="w-16 mt-2 py-3 rounded-md border-2 border-gray-900 focus:border-blue-600 outline-none px-3">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
    <div class="mt-4 lg:mt-0">
      <p class="hidden lg:block text-transparent">buttons</p>
      <button type="submit" class="inline-block mt-2 w-64 lg:w-44 xl:w-64 py-3 bg-gradient-to-r from-blue-500 hover:from-white active:from-gray-200 to-blue-600 hover:to-white active:to-gray-200 text-white hover:text-blue-600 text-center font-semibold rounded-md">Send</button>
    </div>
  </div>

</form>
